@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:wght@100;200;300;400;700;800&family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}
body {
    background-image: linear-gradient(90deg, #F1F991 0%, #7DDBF4 23%, #F1F991 61%, #E0A2AE 100%);
    height:100%;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
}

ul {
    list-style-type: none;
    padding: 0;
    /* display: flex; */

}
li {
    width: 150px;
}

a:link, a:visited {
    text-decoration: none;
}
a:hover, a:active {
    color: blue;
    /* text-decoration: line-through; */
}

::-moz-selection { /* Code for Firefox */
    /* color: #0D45BB; */
    background: blue;
  }
  
  ::selection {
    /* color: #0D45BB; */
    background: blue;
  }

/* section {
    margin-bottom: 84px;
} */
.container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    /* max-width: 736px; */
    margin: 0 auto;
    /* padding: 80px 40px; */
}
.flex {
    display: flex;
    /* align-items: center; */
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter-right {
    writing-mode: vertical-rl;
    position: fixed;
    right: 20px;
    top:calc(39%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.title {
    position: fixed;
    top: 40px;
    left: 35px;
    z-index: 100;
}
.title img {
    width: 69px;
    /* transform: rotate(10deg); */
}

.drag-wrapper, .drag-wrapper img {
    position: fixed;
    width:90px;
}

.drag-wrapper img:hover {
    animation: rotate 2s linear;
    cursor: grab;
}

.text {
    position: fixed;
    top:-15%;
    left:5%;
    width: 100vw;
}



/*Margins*/
h1 {
    /* margin-bottom: 15px; */
    /* width: 736px; */
}


.mg-nav {
    margin-bottom: 150px;
}
.mg-big {
    margin-bottom: 84px;
}
.mg-small {
    margin-bottom: 40px;
}
.mg-tiny {
    margin-bottom: 20px;
}
.bt-basic {
    transition-duration: 0.2s;
    background-color: #fff;
    /* font-family: "Montserrat", "Nanum Gothic", sans-serif; */
    border: 3px solid #000;
    height: 82px;
    padding: 0 20px;
    font-size: 24px;
    font-weight: bold;
}

.bt-blue {
    background-color: #fff;
    color : #0D45BB;
    /* font-family: "Montserrat", "Nanum Gothic", sans-serif; */
    border: 3px solid #0D45BB;
    height: 82px;
    padding: 0 20px;
    font-size: 24px;
    font-weight: bold;
}

.bt-blue:hover {
    -webkit-transition: background-color 0.5s, color 0.5s linear;
    -ms-transition: background-color 0.5s, color 0.5s linear;
    transition: background-color 0.5s, color 0.5s linear;

    cursor: pointer;

    background-color: #0D45BB;
    color: #fff;
    border: 3px solid #0D45BB;
}

@keyframes rotate {
    from {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(360deg)
    }
  }

@media (max-width:768px) {

    
}
